* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* navbar */

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav {
  padding: 0.5rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.logo {
  width: 30%;
}

.logo > img {
  width: 40%;
}

.links {
  gap: 7rem;
  display: flex;
  align-items: center;
}

/* header */

.searchBar {
  margin: 3rem 0rem 3rem 0rem;
  display: flex;
  justify-content: center;
}

.searchBar > input,
button {
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  outline: 0;
}
.searchBar > input {
  width: 18rem;
  padding: 1.2rem;
  border-radius: 3rem 0rem 0rem 3rem;
}
.searchBar > button {
  background-color: #000000;
  color: aliceblue;
  width: 8rem;
  padding: 1.2rem;
  border-radius: 0rem 3rem 3rem 0rem;
}

.heroSection {
  margin: 2rem 0rem 2rem 0rem;
  display: flex;
  justify-content: center;
}

.Hero {
  width: 80%;
  /* background-color: #93c5fd; */
}

.headerLogo > img {
  width: 100%;
}

/* card */

.card > img {
  width: 100%;
}
.card:hover {
  
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card {
  width: 100%;
  padding: 0.5rem;
  transition: all 0.2s linear;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: center;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  gap: 4rem;
}

.shimmerCard {
  /* width: 20%; */
  display: flex;
  height: 200px;
  background-color: grey;

  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;

  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
