@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

.container {
  width: 90%;
  margin: 0 auto;
}





.links {
  gap: 7rem;
  display: flex;
  align-items: center;
}

/* header */

.searchBar {
  display: flex;
  justify-content: center;
}

.searchBar > input,
       button {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  outline: 0;
}
.searchBar > input {
  width: 18rem;
  padding: 0.6rem;
  border-radius: 10px 0px 0px 10px;
}
.searchBar > button {
  background-color: #000000;
  color: aliceblue;
  width: 5rem;
  border-radius: 0px 10px 10px 0px;
}

.heroSection {
  margin: 2rem 0rem 2rem 0rem;
  display: flex;
  justify-content: center;
}

.Hero {
  width: 80%;
  /* background-color: #93c5fd; */
}

.headerLogo > img {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .menu-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
}

